  <% layout("/layouts/boilerplate.ejs") %>
  <body>
    <div class="row">    
      <div class="col-8 offset-2">
        <h3 class="newheading">Create a New Listing</h3>
    <form method="POST" action="/listings">
      <div>
        <label for="title" class="form-label">Title</label>
      <input name="listing[title]" placeholder="enter title" type="text" class="form-control"/>
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        class="form-control"
      ></textarea>

      </div>
      
      <div>
        <label for="Image" class="form-label">Image</label>
         <input
        name="listing[image]"
        placeholder="enter image URL/Link"
        type="text"
         class="form-control"
      />
      </div>
     <div class="row">
      <div class="col-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="enter price" type="number" class="form-control" />
      </div>
      
      <div class="mb-3 col-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" />
      </div>
     </div>
      

      <div>
        <label for="location" class="form-label">Location</label>
        <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
        class="form-control"
      />
      </div>
      
      <br /><br />
      <button type="button" class="btn btn-outline-success">Add</button>
    </form>
      </div>
      </div>

  </body> 


